body {
    font-size: 18px;
    background-attachment: fixed;
    background-color: rgb(150,29,19);
    background-image: url("../images/sunset.jpeg");
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 0;
    margin: 0;
}

img {
    display: block;
    width: auto;
    max-height: 50vh;
    margin-left: auto;
    margin-right: auto;
    border-width: 10px;
    border-style: solid;
    border-color: lightblue;
}

.body {
    border-radius: 5px;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2px;
    padding-bottom: 2px;
    margin: 20px;
    border-style: solid;
    transition: 0.5s;
    background-color: rgba(36, 107, 184, 0.8);
    color: rgb(207, 207, 207);
    border-color: rgba(66, 66, 66, 0.7);
}

h1,h2{
    color: rgb(207, 205, 45);
}

h1{
    font-size: 28px;
}

h2{
    font-size: 24px;
}

.headerfooter{
    width: calc(105vw-20px);
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0;
    text-align: left;
}

#titlebox{
    position: sticky;
    min-height:100px;
    line-height: 100px;
    background-color: rgb(51,81,182, 0.7);
}

#titlebox p {
    margin: 0;
}

.titlelink{
    font-size: 22px;
    font-style: normal;
    margin-right: 30px;
    color: rgb(240,145,53);
}

#title{
    font-size: 40px;
    margin-left: 20px;
    color: rgb(240, 120, 39);
}

a:link {
    transition: 0.5s;
    text-decoration: none;
}

.titlelink:hover {
    color: rgb(241,213,72) !important;
}

#sidebox {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: calc(100vh-50px);
    background-color: rgb(51,81,182, 0.7);
}